extends layout.pug
block body
	if(loadedType.s && loadedType.p)
		h1 #{uppercase(loadedType.p)}
		if(loadedType.s == 'user' || loadedType.s == 'building')
			-var objects = models[loadedType.p]
		else
			-var objects = models[loadedType.s]
		if objects
			ul.list
				for object in objects
					li.item
						a(href='/admin/'+loadedType.s+'/edit/'+object.slug) #{object.name}
						a(href='/admin/'+loadedType.s+'/remove/'+object._id).square.remove
				li.item
					a.new(href='/admin/'+loadedType.s+'/new') Add #{loadedType.s}