include ../mixins
.quicky(data-model=type, data-id=(object ? object._id : ''), class=(object ? 'edit' : 'create'))
	.close.button.x
	.inner
		h1 Create New #{name}
		form(method='post' action='/admin/'+type+'/quicky/')
			.row
				+input('name', 'Name', 'text')
			input(type='submit' value='Create').button