$blue: #0724fb;
$yellow: #fffed3;
$yellow: #ffffe6;

$smallFont: 0.7em;
$mediumFont: .85em;
$largeFont: 1.3em;
$xlargeFont: 1.5em;

$sideWidth: calc(15em + 20vw);
$sidePad: 1em;

@mixin noSelect {
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin loader {
	// background-image: url(/img/ajax.gif);
	// background-position: center;
	// background-repeat: no-repeat;
	// background-size: 30px;
	background-color: rgba(0,0,0,0.06);
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;  
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {  
		color: $color;  
	}
}