include ./mixins
doctype html
html(lang='en')
	head
		script(type='text/javascript' src='/js/jquery-3.0.0.min.js')
		script(type='text/javascript' src='/js/jquery-ui.min.js')
		script(type='text/javascript' src='/js/ThrowPropsPlugin.min.js')
		script(type='text/javascript' src='/js/TweenMax.min.js')
		script(type='text/javascript' src='/js/Draggable.min.js')
		script(type='text/javascript' src='/js/imagesloaded.pkgd.min.js')
		script(type='text/javascript' src='/js/jquery.transit.min.js')
		script(type='text/javascript').
			var allBuildings = !{JSON.stringify((models ? models.buildings : []))}
		script(type='text/javascript').
			var loadedSlug = '#{(loadedSlug ? loadedSlug : undefined)}'
			var loadedType = '#{(loadedType ? loadedType.s : undefined)}'
		script(type='text/javascript' src='/js/main.js')
		script(type='text/javascript' src='/js/public.js')
		script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDlRpU-AULr-wX_Gafw-m2GfWgbFE-pQpY&callback=initPublic' async defer)
		link(rel='stylesheet' href='/css/style.css')
			
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body
		include ./side
		main
			block body